* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-section {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 black;
    width: 500px;
    height: 300px;
    background-color: white;
    position: relative;
}

#question {
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
}

ul {
    list-style: none;
    margin-left: 30px;
}

li {
    font-size: 1.2rem;
    margin-bottom: 15px;
    padding: 2px;
}

#submit {
    background-color: goldenrod;
    border: none;
    color: white;
    font-size: 1.2rem;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.quiz {
    background-color: aqua;
    font-size: 1rem;
    display: block;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.result h2 {
    font-size: 3.4rem;
}

.result p {
    font-size: 2rem;
}